p.s_button{
/*margin-left:45px !important;*/
    
}

span.wpcf7-not-valid-tip {
	position: absolute;
	top: 5%;
	left: 5%;
	z-index: 100;
	background: #fff;
	border: 1px solid #ff0000;
	font-size: 10pt;
	width: 200px;
	padding: 2px;
    text-align:center;
}
.captcha_img{
    float: left;
    display: block;
    margin: 0 12px 0 34px;
    border: 1px solid #ababab;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    height: 30px;
    
}
.captcha_input{
    height:30px;
    line-height: 30px;
    border: 1px solid #ababab;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-family: Trebuchet MS;
    font-size: 10pt; 
    margin-right: 45px;
    width:165px;
    padding: 0 7px
}   
 p.capt{
    display:block;
    margin-top:15px;
}
 div.wpcf7 img.ajax-loader {
	border: none;
	vertical-align: middle;
	margin-left: 4px;
    margin-top: 30px;
}